/* .App {
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.wallet-adapter-button.wallet-adapter-button-trigger {
  @apply from-primary-light hover:bg-primary-accent w-full justify-center rounded-lg bg-gradient-to-tr to-transparent p-2 font-mono font-bold text-white duration-150;
}

.wallet-adapter-button-trigger {
  @apply hover:bg-primary-accent bg-transparent !important;
}

.wallet-adapter-button:not([disabled]):hover {
  @apply from-primary-light !important;
  @apply hover:bg-primary-accent bg-gradient-to-tr to-transparent duration-150 !important;
}

.wallet-adapter-button:hover {
  @apply to-transparent duration-150 hover:bg-gray-900 !important;
}
